header, footer{
    width: 99%;
    background: linear-gradient(135deg, #bb60bb 10%,#412175 90%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border-radius: 30px;
    position: fixed;
  }
  
  header {
    top: 5px;
    height: 60px;
  }
  
  footer {
    bottom: 5px;
    height: 40px;
  }